awscli==1.11.47
backports.ssl-match-hostname==3.5.0.1
boto3==1.4.4
botocore==1.5.19
colorama==0.3.7
cycler==0.10.0
docutils==0.13.1
functools32==3.2.3.post2
future==0.16.0
futures==3.0.5
gcalcli==3.4.0
google-api-python-client==1.6.2
httplib2==0.10.3
jmespath==0.9.1
matplotlib==2.0.0
numpy==1.12.0
oauth2client==4.0.0
parsedatetime==2.2
pyasn1==0.2.3
pyasn1-modules==0.0.8
pyparsing==2.1.10
python-dateutil==2.6.0
python-gflags==3.1.1
python-lambda-local==0.1.3
pytz==2016.10
PyYAML==3.12
requests==2.13.0
rsa==3.4.2
s3transfer==0.1.10
scipy==0.18.1
six==1.10.0
slackclient==1.0.5
stl-tools==0.3.0
subprocess32==3.2.7
uritemplate==3.0.0
virtualenv==15.0.3
vobject==0.9.4.1
websocket-client==0.40.0
